createdFiles/L6.mp4
createdFiles/notes.pdf
createdFiles/output_file.pdf
createdFiles/output_file.wav
createdFiles/output.wav
__pycache__/audio_extraction.cpython-310.pyc
__pycache__/config.cpython-310.pyc
__pycache__/formatter.cpython-310.pyc
__pycache__/notes_formatter.cpython-310.pyc
__pycache__/resource_logger.cpython-310.pyc
__pycache__/resource_logging.cpython-310.pyc
__pycache__/summary.cpython-310.pyc
__pycache__/transcription.cpython-310.pyc
__pycache__/video_text_extraction.cpython-310.pyc
tmp.txt
